body {
  margin: 0 !important;
  padding: 0 !important;
  color: #333;
  min-width: 800;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: "Open-Sans-Light";
  src: local("Open-Sans-Regular"),
    url("./assets/css/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Open-Sans-Regular";
  src: local("Open-Sans-Regular"),
    url("./assets/css/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Open-Sans-ExtraBold";
  src: local("Open-Sans-ExtraBold"),
    url("./assets/css/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Open-Sans-Bold";
  src: local("Open-Sans-Bold"),
    url("./assets/css/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
}